.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: rgb(106, 241, 167);
    background: linear-gradient(90deg, rgba(106, 241, 167, 1) 0%, rgba(125, 194, 241, 1) 51%, rgba(217, 72, 187, 1) 100%);
    color: white;
}

h1 {
    font-size: 42px;
}